@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: white;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header, .Footer {
  width: 100%;
  background-color: lightgray;
  padding: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-content: center;
}

.Header h1 {
  font-size: 1rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.25rem;
  display: grid;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: .5rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: .5rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Projects, .Customers, .SqFt, .ErrorPage, .CustomerPage, .ProjectPage, .BankStatements{
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Projects label {
  font-weight: bold;
}

.Projects input[type="file"]::file-selector-button {
  border: 2px solid black;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: lightgrey;
  transition: .25s;
}

.Projects input[type="file"]::file-selector-button:hover {
  background-color: lightgreen;
}

.Projects input[type="file"]{
  color: transparent;
}

.downloadButton {
  height: 2.5rem;
  color: white;
  background-color: green;
}

.SqFt textarea {
  resize: none;
}

.CustomerPage ul{
  margin-left: 4.25rem;
}

.customer {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.customer a {
  text-decoration: none;
}

.customer a, 
.customer a:visited {
  color: #000;
}

.project {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.project a {
  text-decoration: none;
}

.project a, 
.project a:visited {
  color: black;
}

.customer:first-child {
  margin-top: 0;
}

.customer:last-child {
  border-bottom: none;
}

.ProjectForm,
.CustomersForm {
  display: flex;
  flex-direction: column;
}

.addBankStatements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectForm label,
.CustomersForm label,
.addBankStatements label {
  margin-top: 1rem;
}

.ProjectForm input[type='text'], 
.ProjectForm input[type='date'],
.ProjectForm textarea,
.CustomersForm input[type='text'], 
.CustomersForm textarea,
.addBankStatements input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.ProjectForm select,
.addBankStatements select {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

select:required:invalid {
    color: gray;
    border-color: #000;
}

option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.ProjectForm button, 
.CustomersForm button,
.addBankStatements button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  max-width: 400px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.ProjectPage, .CustomerPage {
  font-size: x-large;
}

.ProjectPage label,
.CustomerPage label {
  box-shadow: inset 0 0 0 0 #000;
  color: #000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.ProjectPage label:hover,
.CustomerPage label:hover {
  box-shadow: inset 1000px 0 0 0 #000;
  color: white;
  cursor: pointer;
}

.Missing p, .SqFt p, .Customers .Projects p {
  margin-top: 1rem;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: .5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
} 

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deleteButton {
  background-color: red;
}

.editButton {
  background-color: blue;
}

.saveButton, .goToButton {
  background-color: green;
}

.addButton {
  background-color: blue;
}

.statusMsg {
  margin-top: 2rem;
}

.Estimate,
.Invoice {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  background-color: #fff;
}

.EstimateHeading,
.InvoiceHeading {
  font-weight: bold;
  font-size: x-large;
}

.EstimateHeading select, .EstimateHeading input,
.InvoiceHeading select, .InvoiceHeading input{
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  width: flex;
  outline: none;
} 

.EstimateCustomer,
.InvoiceCustomer {
  background-color: #eee;
  font-size: large;
}

.EstimateDescription,
.InvoiceDescription {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.Estimate th,
.Invoice th {
  border: 1px solid;
  width: 100%;
}

.BankTable th{
  border: 1px solid black;
  padding: 10px;
}
.BankTable td {
  border: 1px solid black;
  width: 21%;
}

.BankTable table {
  border-collapse: collapse;
  text-align: center;
}

.BankTable button {
  margin: 10px;
  overflow: hidden;
}

.EstimateTable select,
.InvoiceTable select{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
}

.SqFt select {
  font-family: 'Open Sans', sans-serif;
  width: flex;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
}

.SqFt button {
  height: 36px;
}

.SqFt input,
.EstimateTable input,
.InvoiceTable input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  width: flex;
  padding: 0.25rem;
  outline: none;
}

.rightFooter input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
}

.Estimate label {
  font-weight: bold;
}

.leftTitle {
  float: left;
  font-size: x-large;
}

.leftSubTitle {
  float: left;
  font-size: medium;
}

.rightTitle {
  float: right;
  margin-right: 2rem;
  font-size: x-large;
}

.rightSubTitle {
  float: right;
  margin-right: 1rem;
  font-size: medium;
}

.rightFooter {
  float: right;
  text-align: right;
}

.centerFooter {
  text-align: center;
  margin-top: 1rem;

}

.k-pdf-export button {
  display: none;
}

.k-pdf-export select, .k-pdf-export input {
  text-align: center;
}