@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: white;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header, .Footer {
  width: 100%;
  background-color: skyblue;
  padding: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-content: center;
}

.Header h1 {
  font-size: 1rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.25rem;
  display: grid;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: .5rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: .5rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Projects, .Customers, .SqFt, .ErrorPage, .CustomerPage, .ProjectPage {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.SqFt textarea {
  resize: none;
}

.CustomerPage ul{
  margin-left: 4.25rem;
}

.customer {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.customer a {
  text-decoration: none;
}

.customer a, 
.customer a:visited {
  color: #000;
}

.project {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.project a {
  text-decoration: none;
}

.project a, 
.project a:visited {
  color: black;
}

.customer:first-child {
  margin-top: 0;
}

.customer:last-child {
  border-bottom: none;
}

.ProjectForm,
.CustomersForm {
  display: flex;
  flex-direction: column;
}

.ProjectForm label,
.CustomersForm label {
  margin-top: 1rem;
}

.ProjectForm input[type='text'], 
.ProjectForm input[type='date'],
.ProjectForm textarea,
.CustomersForm input[type='text'], 
.CustomersForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.ProjectForm select {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.ProjectForm textarea,
.CustomersForm textarea {
  height: 100px;
}

.ProjectForm button, 
.CustomersForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  max-width: 400px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Missing p, .SqFt p, .Customers .Projects p {
  margin-top: 1rem;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: .5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.editButton {
  background-color: blue;
}

.saveButton {
  background-color: green;
}

.addButton {
  background-color: blue;
}

.statusMsg {
  margin-top: 2rem;
}

.Estimate,
.Invoice {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  background-color: #fff;
}

.EstimateHeading,
.InvoiceHeading {
  font-weight: bold;
  font-size: x-large;
}

.EstimateHeading select, .EstimateHeading input,
.InvoiceHeading select, .InvoiceHeading input{
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  width: flex;
  outline: none;
} 

.EstimateCustomer,
.InvoiceCustomer {
  background-color: #eee;
  font-size: large;
}

.EstimateDescription,
.InvoiceDescription {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.Estimate th,
.Invoice th {
  border: 1px solid;
  width: 100%;
}

.EstimateTable select,
.InvoiceTable select{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
}

.EstimateTable input,
.InvoiceTable input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  width: flex;
  padding: 0.25rem;
  outline: none;
}

.rightFooter input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
}

.Estimate label {
  font-weight: bold;
}

.leftTitle {
  float: left;
  font-size: x-large;
}

.leftSubTitle {
  float: left;
  font-size: medium;
}

.rightTitle {
  float: right;
  margin-right: 2rem;
  font-size: x-large;
}

.rightSubTitle {
  float: right;
  margin-right: 1rem;
  font-size: medium;
}

.rightFooter {
  float: right;
  text-align: right;
}

.centerFooter {
  text-align: center;
  margin-top: 1rem;

}